<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    <style>
    body {
      height: 100vh;
      margin: 0;
      background-image: url('');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #5de5ef
    }

    .container {
      padding-top: 70px;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-primary">
        <a class="navbar-brand h3 text-white" href="{{ url_for('index') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
          </ul>
        </div>
    </nav>
    <dev>
        <center>
            <h3>BOOK YOUR TICKET!!!</h3>
        </center>
    </dev>
    <div class="container">
        <form action="/search" method="GET">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="originCity">Origin City:</label>
                    <select id="originCity" name="originCity" class="form-control">
                        <option value="">Select...</option>
                        <option value="NEW JERSEY">NEW JERSEY</option>
                        <option value="CALIFORNIA">CALIFORNIA</option>
                        <option value="SEATTLE">SEATTLE</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="destinationCity">Destination City:</label>
                    <select id="destinationCity" name="destinationCity" class="form-control">
                        <option value="">Select...</option>
                        <option value="NEW YORK">NEW YORK</option>
                        <option value="DALLAS">DALLAS</option>
                        <option value="LAS VEGAS">LAS VEGAS</option>
                    </select>
                    <div class="form-group col-md-4">
                        <label for="currency">Currency:</label>
                        <select id="currency" name="selected_currency" class="form-control">
                            <option value="">GBP</option>
                            <option value="CAD">CAD</option>
                            <option value="USD">USD</option>
                            <option value="YEN">YEN</option>
                            <option value="DNR">DNR</option>
                            <option value="INR">INR</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="departdate">Depart Date:</label>
                    <input type="date" id="departdate" name="departdate" class="form-control mb-2 mr-sm-2">
                </div>
            </div>
<!--            <button type="submit" class="btn btn-primary">Search Flights</button>-->
            <button type="submit" class="btn btn-primary">Search Flights</button>
        </form>
        {% block content %} {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stack
